{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>GroceryBag</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container mt-5">
            <!-- top -->
            <div class="row">
                <div class="col-lg-6">
                    <a href="{% url 'home' %}" style="color: inherit;"><h1>Grocery Bag</h1></a>
                </div>
               
            </div>
            <!-- Grocery Cards -->
            <div class="row mt-4">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </body>
</html>