{% extends 'cart/base.html' %}

{% block content %}
<div class="container mt-5">
    <!-- top -->
    <div class="row">
        <div class="col-lg-6">
            <h2>View Grocery List</h2>
        </div>
        <div class="col-lg-6 float-right">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Date Filtering-->
                    <input type="date" class="form-control">
                </div>
                <div class="col-lg-4">
                    <input type="submit" class="btn btn-danger" value="filter">
                </div>
            </div>
        </div>
        <a href="{% url 'add_entry' %}" class="top-menu"><input type="submit" class="btn btn-danger" value="Add"></a>
    </div>
</div>
    {% for item in items %}
    <div class="col-lg-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">{{ item.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ item.quantity }}</h6>
                <p class="text-success">{{ item.status }}</p>
                <form action="/update/{{item.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                    {% csrf_token %}
                    <button value="remove" type="submit"  class="btn btn-primary" style="float: right;">Update</button>
                </form>
                <hr/>
                <form action="/del/{{item.id}}" method="POST" style=" padding-right: 4%; padding-bottom: 3%;">
                    {% csrf_token %}
                    <button value="remove" type="submit"  class="btn btn-primary" style="float: right;">Remove</button>
                </form>
            </div>
        </div>
        <br>
    </div>
    {% endfor %}
{% endblock %}

